name: Audit

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
      
    - name: get dependencies 
      run: go get -t github.com/SimonWaldherr/golang-benchmarks/...
        
    - name: Run tests
      run: go test -bench -benchmem ./...
